<!DOCTYPE html>
<html>

<head>
    <title>ChatTree</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script type="text/javascript" src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body ng-app="ChatTree" ng-controller="main">
    <div id="navpanel">
        <h1>ChatTree</h1>
        <span class="btn btn-default" ng-click="newSearch()">New search<span class="pull-right glyphicon glyphicon-search"></span></span>
    </div>
    <div id="main">
        <div id="controlpanel">
            <span class="btn btn-sm btn-default" ng-if="user==null" ng-click="login()">Login<span class="pull-right glyphicon glyphicon-user"></span></span>
            <span class="btn btn-sm btn-default" ng-if="user==null" ng-click="register()">Register<span class="pull-right glyphicon glyphicon-pencil"></span></span>
            <span ng-if="user!=null">Hello, {{user}}!</span>
            <span class="btn btn-sm btn-default pull-right" ng-if="user!=null" ng-click="logout()">Logout</span>
        </div>
        <div id="tab-panel" class="rooms-tab" bs-tabs data-bs-active-pane="activeTab.index" data-template="templates/tabs.html">
            <div ng-include="tab.content" data-title="{{ tab.title }}" bs-pane ng-repeat="tab in tabs track by $index">
            </div>
        </div>
    </div>
</body>

</html>