body {
    background-color: grey;
    height: 99vh;
    min-height: 99vh;
    padding: 0;
    margin: 0;
}

#nav-panel{
    float: left;
    background-color: lightgray;
    height: 100%;
    min-height: 400px;
    width: 200px;
    margin: 3px;
    border: solid black;
    text-align: center;
}

#nav-panel .btn,
#control-panel .btn{
    width:150px;
    text-align: left;
    white-space: normal;
}

#main{
    float:left;
    background-color: lightgrey;
    height: 100%;
    min-height: 400px;
    width: calc(100% - 215px);
    margin: 3px;
    border: solid black;
}

#tab-panel{
    height: calc(100% - 40px);
}

.tab-pane{
    height: 100%;
}

#control-panel{
    width:100%;
    height:40px;
    padding: 5px;
}

.welcome-panel, .search-panel, .login-panel, .register-panel, .room-panel{
    padding: 10px;
    height: 100%;
}

.privacy-setting{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width:8ch;
}

.room-tags{
    text-align: center;
}

.rooms>.list-group-item{
    padding: 5px;
    margin:2px;
}

.list-group.rooms{
    overflow-y:scroll;
    height: calc(100% - 34px);
}

.label.tag{
    margin:2px
}

div#tab-panel.rooms-tab>ul>li>a{
    border-width: 1px;
    border-color: black;
    border-bottom-color: transparent;
    background-color: white;
}

div#tab-panel.rooms-tab>ul>li.active>a{
    background-color: lightgray
}

div#tab-panel>ul{
    background-color: dimgray;
    border-bottom: 1px solid black;
    padding-top: 3px;
    padding-left:3px;
    padding-right:3px;
}

.chat-panel{
    width:calc(100% - 200px);
    height:calc(100% - 80px);
    display: inline-block;
}
.participants-panel{
    width:200px;
    height:100%;
    padding: 7px;
    border:1px solid black;
    display: inline-block;
    float: right;
}

.participants-panel .participant{
    white-space: normal;
    border:1px solid black;
    border-radius:10px;
    background-color: rgb(240,240,240);
    padding: 3px 6px;
    margin-bottom: 2px;
}

.participant input{
    display: none;
}

.chat-bubbles{
    height: 100%;
    overflow-y:scroll;
}
textarea.chat-message{
    resize: none;
    width:100%;
    height: 50px;
}

.chat-list{
    list-style-type: none;
    padding: 0px;
}

.chat-bubble{
    margin-top:2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.odd-bubble{
    background-color:rgb(240,240,240);
}